@import "bootstrap-sprockets";
@import "bootstrap";



/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-style: italic;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー 以下(bg-info)だとNG!機能しない！*/ 
/*.navbar {
  background-color: bg-info ;
}*/

/* ヘッダー */
.navbar {
  background-color: #0000FF ;
  font-weight: bold;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  background-color: #0000FF ;
  font-weight: bolder;
  color: #fff;
}
 
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #0000FF ;
  color: silver;
}


#logo {
  font-style: italic;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
/*capitalize
単語の先頭文字を大文字にする*/

#logo:hover {
  color: silver;
  text-decoration: none;
}

#dropdown-title {
    background-color: #00F;
}

.header-list {
    color: #fff !important;
    font-weight: bold;
}

.header-list:hover {
    color: silver !important;
}

#top-main {
    background-color: rgba(255,255,255,0);
}

#top-main-title {
    font-style: italic;
    font-weight: bold;
}



/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
